# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

# ClojureDart
.cpcache/
.clojuredart/
lib/
test/cljd-out/
.clj-kondo
.lsp
quickstart
quickstart_flutter

# Comment for "dart pub publish"
bin

.idea
