# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

.idea
.cpcache
.clojuredart
.clj-kondo
.lsp
quickstart

# Comment for "dart pub publish"
bin
lib
