{:paths     ["src"]                                         ; where your cljd files will live
 :deps      {org.clojure/clojure {:mvn/version "1.10.1"}
             tensegritics/clojuredart
             {:git/url "git@github.com:tensegritics/ClojureDart.git"
              ; or  "https://github.com/tensegritics/ClojureDart.git"
              :sha     "8d5916c0dc87146dc2e8921aaa7fd5dc3c6c3401"}}
 :aliases   {:cljd {:main-opts ["-m" "cljd.build"]}}
 :cljd/opts {:kind :dart
             :main cljds.core}}
