{:paths     ["src"]                                         ; where your cljd files will live
 :deps      {org.clojure/clojure {:mvn/version "1.10.1"}
             tensegritics/clojuredart
             {:git/url "git@github.com:tensegritics/ClojureDart.git"
              ; or  "https://github.com/tensegritics/ClojureDart.git"
              :sha     "84b18f8e67556862f265ea41f3a9e5f9506cdbef"}}
 :aliases   {:cljd {:main-opts ["-m" "cljd.build"]}}
 :cljd/opts {:kind :dart
             :main cljds.core}}
